.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
    overflow: hidden;
}

.chat_messages {
    flex: 1;
    overflow: scroll;
}

.chat_messages::-webkit-scrollbar {
    display: none;
}

.chat_messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat_input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 0;
    border-top: 1px solid gray;
    background-color: #474b53;
    position: sticky;
    bottom: 0;
}

.chat_input > form > input {
    padding: 15px;
    background: transparent;
    outline-width: 0;
    border: none;
    color: white;
    font-size: large;
    width: -webkit-fill-available;
}

.chat_input > form {
    flex: 1;
}

.chat_inputButton {
    display: none;
}

.chat_inputIcons > .MuiSvgIcon-root {
    padding: 5px;
}

.chat_messageSend {
    cursor: pointer;
}

.chat_noMessage {
    display: flex;
    justify-content: center;
    color: white;
}

@media(max-width: 768px) {
    .chat {
        flex: 1;
    }
}